services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: go_ctf_backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - MONGO_URI=${MONGO_URI}
      - DB_NAME=${DB_NAME}
      - FRONTEND_URL=${FRONTEND_URL}
      - JWT_SECRET=${JWT_SECRET}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
      - SMTP_FROM=${SMTP_FROM}

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: go_ctf_frontend
    restart: always
    ports:
      - "4200:80"
    depends_on:
      - backend
