.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

mat-card {
  width: 400px;
}

.full-width {
  width: 100%;
}

.error {
  color: red;
  margin-bottom: 10px;
}
